.DS_Store
data.arff

audio_descriptors_extended/

audioClases/

Clusters/

Segments/

respaldo code/

Clusters_Clare_Cooper/

seg/

Models/

.vscode/

__pycache__


audioClases_kMeans/

Segments_2/

dataBaseAsMatrix_2.csv

dataBaseAsMatrix_3.csv

dataBaseAsMatrixxx.csv

dataset_SC_test.csv

dataset_SC.csv

Extraccion_caracteristicas_CSV_Final.scd

prueba_dataset_SC.csv

archivos_clases.txt

anotatedDataBase.csv

*.wav

anotatedDataBase_movil.csv

anotatedDataBase_test.csv

audio_data_base/Probably.aiff

anotatedDataBase_8C.csv

database_as_matrix_mfcc_2.csv

database_as_matrix_mfcc_movil.csv

database_as_matrix_mfcc_onsets_movil.csv

database_as_matrix_mfcc.csv

dataBaseAsMatrix_scmir_.csv

dataBaseAsMatrix_scmir_24836.csv

dataBaseAsMatrix_scmir.csv

dataBaseAsMatrix_standard_5f.csv

dataBaseAsMatrix_standard_mel_test.csv

dataBaseAsMatrix_standard_mel.csv

dataBaseAsMatrix_standard_MFCCs_24836.csv

dataset_movil_ii.csv

testset_large.csv

testset_small.csv

array.npy

database_names.csv

draw_on_image_04.png

essentia_dataset.csv

open_paper_tree_essentia.csv

sink_into_return.csv

sink_into_return\+filename.csv

test_loud.csv

test_mfccs_test.csv

test_mfccs.csv

train_mfccs.csv

unsupervised_dataBase.csv

*.json

*.csv

Autocomposer/test_3wav

ConcatenaAudiosEnvolvente.py

play_files_by_euclidean_distance.py

Prototipo del Sistema de generación auto.txt

sequence_generator.py
